/* Styles pour la table */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

/* Styles pour les boutons */
.delete-button,
.edit-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 11px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 2px;
}

/*Button style*/
.delete-button {
    background-color: #e74c3c;
}
/*Button edit style*/
.edit-button {
    background-color: #2ecc71;
}